parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - src/Dispatcher.php # remove once class is finished.

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
